html {
    height: 100%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #424242;
}

.checkbox-container {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.header {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333;
}