* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #424242;
}

.home-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #363636;
    color: #fff;
    cursor: pointer;
}

.home-button:hover {
    color: #CCB26E;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.menu__links-list {
    padding: 20px;
    border-radius: 10px;
    background-color: #363636;
}

.menu__links-list-item:not(:first-child) {
    padding-top: 20px;
}

.menu__link {
    display: block;
    color: #fff;
}

.menu__link:hover {
    color: #CCB26E;
}

.checkboxes-group {
    padding: 20px 30px 30px;
    border-radius: 10px;
    background-color: #fff;
}

.checkboxes-group__header {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    color: #333;
}

.checkbox {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    cursor: pointer;
    user-select: none;
}

.checkbox__native-element {
    display: none;
}

.checkbox__custom-element {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 9px;
    width: 15px;
    height: 15px;
    border: 1px solid #999999;
    border-radius: 3px;
}

.checkbox__custom-element:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.checkbox__native-element:checked + .checkbox__custom-element {
    border: 1px solid #CCB26E;
}

.checkbox__native-element:checked + .checkbox__custom-element:before {
    opacity: 1;
}

.choices[data-type*=select-one]:after {
    z-index: 3;
    display: block;
    right: 15px;
    margin-top: -2.5px;
    width: 13px;
    height: 8px;
    border-style: none;
    border-color: unset;
    border-width: unset;
    background-image: url("../img/arrow-inactive.svg");
    background-position: center center;
}

.choices[data-type*=select-one].is-open:after {
    margin-top: -2.5px;
    background-image: url("../img/arrow-active.svg");
}

.choices__inner {
    display: block;
    padding: 0;
    width: 176px;
    min-height: unset;
    height: 39px;
    border: none;
    background-color: transparent;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
}

.choices__list--dropdown {
    position: absolute;
    z-index: 1;
    top: 1px;
    padding-top: 49px;
    padding-bottom: 10px;
    width: 176px;
    border-radius: 10px;
}

.is-open .choices__list--dropdown {
    border-color: #CCB26E;
}

.choices__list--single {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 176px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: #fff;
}

.is-open .choices__list--single {
    border: 1px solid #CCB26E;
}

.choices__placeholder {
    padding: 0 15px;
    opacity: 1;
}

#choices--custom-select-item-choice-1 {
    display: none;
}

.choices__list--dropdown .choices__item--selectable {
    padding: 10px 15px;
}

#map {
    width: 460px;
    height: 460px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}
